* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font: var(--normal) 16px/1.5 var(--font);
  overflow-x: hidden;
  height: 100%;
}

body {
  background-color: white;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

li {
  list-style-type: none;
}
