/* Backdrop */
body::before {
  height: var(--backdrop-bg-height);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background: var(--backdrop-bg-color, #dde2e9);
  z-index: -1;
}

.photos-section {
  min-height: 100vh;
  display: grid;
  grid-template-columns: [left-gutter] 1fr [content] 12fr [right-gutter] 1fr;
  grid-template-rows: [top-gutter] 50px [top] 300px [content] 1fr [bottom-gutter] 50px;
}

.app-header {
  display: flex;
  align-items: center;
  grid-row: top;
}
.photos-section > * {
  grid-column: content;
}

.app-header .container {
  flex: 1 1 100%;
}

.app-header .container > h1 {
  font-size: 50px;
  color: #32325d;
}

.app-header .container .search-query {
  color: #616191;
}

.app-header .container > h1 {
  font-size: 50px;
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
}

.search-form .search-icon {
  --dimension: 20px;
  content: "";
  width: var(--dimension);
  height: var(--dimension);
  position: absolute;
  left: 0;
  transform: translateX(50px);
  border-radius: 50%;
}

input.search-field {
  font-family: "Poppins";
  height: 90px;
  padding-left: 100px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  width: 100%;
  max-width: 100%;
  color: #001c46;
}

input.search-field::placeholder {
  color: #001c46;
}

.search-info {
  color: #32325d;
}

.search-query {
  color: #616191;
}

.photos-list {
  grid-row: content;
}

.photos-list .container {
  max-width: 80%;
  margin: 0 auto;
  grid-column: content;
  column-gap: 60px;
  column-count: 3;
  height: 100%;
  columns: 394.967px 3;
}

.photos {
  position: relative;
  border-radius: 10px;
  margin-bottom: 60px;
}

.photo-content {
  position: relative;
  background-color: #f5f5f5;
  border-radius: 10px;
  display: block;

  overflow: hidden;
}

.photo-content:hover .author-details {
  transform: translateY(0);
}

.photo-content:hover::before {
  opacity: 1;
}

.photo-content * {
  border-radius: inherit;
}

.photo-content::before {
  content: "";
  pointer-events: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1));
  opacity: 1;
  padding: 28px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.author-details {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 28px 20px;
  color: white;
  border-radius: 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;

  transform: translateY(0%);
}

.photo-content::before,
.author-details {
  transition: 200ms;
}

.new-search {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#skeleton::before {
  display: none;
}

#skeleton img {
  opacity: 0;
}

#skeleton .author-details .author-name,
#skeleton .author-details .photo-location {
  color: transparent;
  background-color: #d7d7d7;
  border-radius: 3px;
}
